* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Poppins", Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.nav-left>svg {
    stroke: #ed5b34;
    stroke-width: 1rem;
}

.nav {
    display: flex;
    padding: 1rem 2rem;
    /* max-width: 100%; */
    z-index: 2;
    position: sticky;
    background-color: white;
    color: #ed5b34;
    /* border: 2px solid red; */
    box-shadow: 0px 2px 20px rgb(29, 29, 29);
    top: 0;
}

#title-name {
    font-size: 1.9rem;
    font-weight: bold;
}

.nav>div {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.nav-right {
    display: flex;
    column-gap: 2rem;
}

.nav-right a {
    /* color: rgb(29, 29, 29); */
    font-size: 1.5rem;
    font-weight: 550;
    color: #ed5b34;
}

.nav-right a:hover {
    color: #3e83fb;
}

.active {
    color: #3e83fb !important;
}

.home {
    position: relative;
    height: 95vh;
    scroll-margin-top: 4.4rem;
    /* width: 100%; */
    /* margin-top: 10%; */
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-around;@media screen and (max-width:1300px) {
        html {
            font-size: 11px;
        }
    }
    align-items: center;
    /* background-image: url("./assets/MicrosoftTeams-image.png");
    background-repeat: no-repeat;
    background-size: cover; */
}

.flying {
    position: absolute;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./assets/home-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

.home-left {
    /* background-color: rgba(237, 91, 52, 0.4); */
    background-color: rgba(255, 255, 255, 0.4);
    border: 7px solid #ed5b34;
    border-radius: 10px;
    padding: 3rem 4rem;
    max-width: 39.4rem;
}

.home-left>h1 {
    font-size: 4rem;
    color: white;
}

.home-left>h1>span {
    font-weight: 500 !important;
    color: #ed5b34;
    font-size: 4.5rem;
    font-family: "Inter", sans-serif;
    font-family: "Lilita One", cursive;
    letter-spacing: 2px;
    /* font-family: 'Roboto', sans-serif; */
}

@keyframes floating {
    0% {
        transform: translate(0%, 0%);
    }

    35% {
        transform: translate(-10%, 0%);
    }

    70% {
        transform: translate(-10%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

.flying:nth-of-type(1) {
    position: absolute;
    top: 9%;
    right: 33%;
    height: 10rem;
    animation: floating 5s ease-in-out infinite;
}

.flying:nth-of-type(2) {
    position: absolute;
    top: 75%;
    right: 12%;
    height: 7rem;
    animation: floating 5s ease-in-out infinite;
}

.flying:nth-of-type(3) {
    position: absolute;
    top: 72%;
    right: 37%;
    height: 10rem;
    animation: floating 5s ease-in-out infinite;
}

.flying:nth-of-type(4) {
    position: absolute;
    top: 9%;
    right: 5%;
    height: 10rem;
    animation: floating 5s ease-in-out infinite;
}

.img-div {
    -webkit-clip-path: polygon(25% 5%,
            75% 5%,
            100% 50%,
            75% 95%,
            25% 95%,
            0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    display: flex;
    background-color: #ed5b34;
    height: 25rem;
    width: 25rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    /* box-shadow: 0px 5px 10px black; */
    border-radius: 50%;
}

.img-div>img {
    height: 17rem;
    /* width: 30rem; */
    /* box-shadow: 0px 0px 5px black; */
}

.technology {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem 0;
    scroll-margin-top: 4.4rem;
}

.technology-title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.technology-title>img {
    width: 3.5rem;
}

.technology-title>h1 {
    font-size: 3rem;
    font-weight: bold;
}

.technology-grid {
    border-radius: 15px;
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 50%;
    column-gap: 4rem;
    row-gap: 3rem;
}

.card {
    line-height: 1rem;
    padding: 1.5rem 1rem;
    box-shadow: 0px 5px 20px black;
    border-radius: 15px;
    background-color: white;
    text-align: center;
}

.card-img {
    width: 9rem;
}

.card-img>img {
    width: 8rem;
}

.card:hover .card-img>img {
    transform: scale(1.1);
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    align-items: center;
    padding: 2.5rem 0;
    scroll-margin-top: 4.4rem;
}

.service-title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.service-title>img {
    width: 3.5rem;
}

.service-title>h1 {
    font-size: 3rem;
    font-weight: bold;
}

.service-container {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 0 2rem;
    column-gap: 17rem;
}

.service-container>img {
    width: 25rem;
}

.service-slider {
    position: relative;
    background-color: rgb(237, 91, 52, 0.8);
    border-radius: 15px;
    padding: 3rem 2rem;
    display: flex;
    width: 59.5rem;
    column-gap: 4rem;
    overflow: hidden;
}

.project-card>h2 {
    margin-top: 0.5rem;
    padding: 0.5rem;
    /* background-color: #3E83FB; */
}

.project-card {
    transition: 1s;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 1rem;
    width: 16rem;
    padding: 1rem;
    box-shadow: 0px 5px 20px black;
    border-radius: 15px;
    background-color: white;
    text-align: center;
}

.project-img {
    display: inline-block;
    margin-bottom: 1rem;
    width: 14rem;
    height: 14rem;
    /* background-image: url('./assets/hrms.png');
    background-repeat: no-repeat;
    background-size: cover; */
}

.project-img>img {
    object-fit: contain;
    width: 12.5rem;
    height: 12.5rem;
}

.prev,
.next {
    position: absolute;
    top: 10rem;
    /* padding: 20px 20px; */
    background-color: #fff;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(173, 64, 0, 0.48) 0px 2px 25px 0px;
    padding: 20px 15px 15px 15px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    transform: rotate(180deg);
}

.about {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 4.4rem;
}

.about-title {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.about-title>div {
    font-size: 3rem;
    /* color: #3E83FB; */
    font-weight: bold;
}

.about>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about>div>img {
    width: 32rem;
}

.about-detail {
    display: flex;
    margin-top: 2rem;
    row-gap: 1rem;
    /* align-items: center; */
    max-width: 35%;
    flex-direction: column;
    justify-content: center;
}

.about-detail>div {
    display: flex;
    column-gap: 3rem;
}

.about-detail>div>div {
    display: grid;
    grid-template-columns: auto;
    row-gap: 1rem;
    column-gap: 3rem;
}

.about-detail>div>div>span {
    font-size: 1rem;
    font-weight: 600;
}

.detail {
    color: #ed5b34;
}

#resume {
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    /* padding: 0 0.7rem; */
    background-color: #ed5b34;
    border-radius: 15px;
    height: 2.5rem;
    border: none;
    width: 7.5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.social-media {
    column-gap: 2rem;
    display: flex;
    align-items: center;
}

.social-media>a>img {
    width: 2.5rem;
}

.remove {
    display: none;
}

@media screen and (max-width:1400px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width:1300px) {
    html {
        font-size: 11px;
    }
}

@media screen and (max-width:1200px) {
    html {
        font-size: 10px;
    }
}
/* @keyframes blink {
    0%{opacity: 1;}
    50%{opacity: 0;}
}

#blink-cursor{
    animation: blink 0.4s infinite;
} */